Source: qmdnsengine
Section: libs
Priority: extra
Maintainer: Nathan Osman <nathan@quickmediasolutions.com>
Build-Depends: debhelper (>= 9),
               cmake (>= 3.2),
               qtbase5-dev (>= 5.4),
               doxygen
Testsuite: autopkgtest
Standards-Version: 4.1.0
Homepage: https://github.com/nitroshare/qmdnsengine

Package: libqmdnsengine0
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Multicast DNS library for Qt applications
 QMdnsEngine provides an implementation of multicast DNS as per RFC 6762,
 enabling Qt applications to provide mDNS services on the local network,
 respond to mDNS queries from other devices, and browse mDNS services provided
 by other devices on the local network.
 .
 This package contains the shared library required at runtime.

Package: libqmdnsengine-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends},
         libqmdnsengine0 (= ${binary:Version})
Description: Multicast DNS library for Qt applications - development files
 QMdnsEngine provides an implementation of multicast DNS as per RFC 6762,
 enabling Qt applications to provide mDNS services on the local network,
 respond to mDNS queries from other devices, and browse mDNS services provided
 by other devices on the local network.
 .
 This package contains the files necessary for development.

Package: libqmdnsengine-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: Multicast DNS library for Qt applications - documentation
 QMdnsEngine provides an implementation of multicast DNS as per RFC 6762,
 enabling Qt applications to provide mDNS services on the local network,
 respond to mDNS queries from other devices, and browse mDNS services provided
 by other devices on the local network.
 .
 This package contains documentation for the library.

Package: libqmdnsengine-examples
Section: x11
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Multicast DNS library for Qt applications - examples
 QMdnsEngine provides an implementation of multicast DNS as per RFC 6762,
 enabling Qt applications to provide mDNS services on the local network,
 respond to mDNS queries from other devices, and browse mDNS services provided
 by other devices on the local network.
 .
 This package contains examples for development.
